<div class="container-fluid text-center">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-5"> My gossip title: <%= @gossip.title%> </h1>
            <p class="lead"> My gossip content: <%= @gossip.content%> </p><br><br>
            <p class="lead"> Written by user: <%= link_to @gossip.user.first_name, "/users/#{@gossip.user.id}" %>
            <p class="lead"> City: <%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id) %>
            <% if @gossip.user == current_user%>
                <p class="nav-link active">
                    <%= link_to 'Edit', edit_gossip_path(@gossip) %>
                    |
                    <%= link_to 'Delete', gossip_path(@gossip), method: :delete, data: {confirm: 'Are you sure?'}%>
                </p>
            <% end%>
            <p>
            tag : 
            <% @gossip.tags.each do |tag|%>
                 <%= tag.title %>, 
            <% end %>
            </p>
            <p>
            Message: 
            <% @gossip.messages.each do |message|%>
                 <p><%= message.content %>
                 <% if @gossip.user == current_user%>
                    <%= link_to 'Edit', edit_message_path(message) %> | 
                    <%= link_to 'Delete', message_path(message), method: :delete, data: {confirm: 'Are you sure?'} %></p>
                 <% end%>
            <% end %>
            </p>
            </div>
        </div>
    </div>
</div>